<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/OrzGeeker/OrzSwiftMC/main/products/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>JvTSuRHCOZs9AToeFNAJmk+iGy7ATFxpEK1hissQ1/4=</string>
</dict>
</plist>
