//
//  Config.xcconfig
//  OrzMC
//
//  Created by joker on 7/16/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Release Version
MARKETING_VERSION=0.1.0
CURRENT_PROJECT_VERSION=21

// Swift Config
SWIFT_VERSION=6.0
SWIFT_STRICT_CONCURRENCY=Complete
// ---

// Info.plist - Sparkle App upgrade config
INFOPLIST_KEY_SUPublicEDKey="aJydxF8TPBtlPfJhH+6bm1vD9sUHCStYOBOijD6ialA="
INFOPLIST_KEY_SUFeedURL="https://raw.githubusercontent.com/OrzGeeker/OrzSwiftMC/main/products/appcast.xml"
// ---
